
body {
    background-color: green;
    text-align: center;

}

body h1 {
    background-color: goldenrod;
    font-weight: 100;
    
}
#OurStore {
    height: 25px;
    background-color: greenyellow;
    font-weight: 100;
    font-size: x-large;
    width: 300px;
    margin: auto;
}

#bio {
    font-style: italic;
    overflow: auto;
    height: 150px;
    text-decoration-color: darkred;
    background-color:goldenrod;
}

/* margin-bottom: 10px;
flex-wrap: wrap;

align-content: center;
} */ */

}
}

/* b {
    font-weight: bold;
    margin: 15px;
}

li {
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p2 {
    display: block;
    margin: 15px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p3 {
    display: block;
    margin: 15px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
/* h3 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
} */
/* h1 {
    margin: 15px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

h2 {
    margin: 15px;
    font-size: large;
    font-weight: bolder;
}

p1 {
    display: inline-block;
    margin: 15px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
table {
    border: 1px; 
}
 th, td {
padding: 15px;
border: 1px solid black; 
float: bottom 

}

/* td { */

